@mixin container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

footer {
  color: white;
}

.footerWrapper {
  padding: 80px 0;
  background-color: #222222;
}

.footerConatiner {
  @include container();
}

.iconWrapper {
  display: flex;
  gap: 10px;
}

.serviceWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #9b9b9b;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.serviceSubWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.serviceContent {
  font-size: 22px;
}

.serviceTime {
  font-size: 14px;
  font-weight: 300;
  color: #9b9b9b;
}

.serviceButton {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 0 25px;
  height: 40px;
}

.infoWrapper {
  color: #d3d3d3;
  font-size: 14px;
}

.infoContent {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}

.infoContentMiddle {
  padding: 0 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.infoRights {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.infoTermsOfUse {
  display: flex;
  gap: 20px;
}
