$gray-color: #b1b1b1;
$large-font-size: 20px;
$medium-font-size: 13px;
$small-font-size: 11px;
$padding-bottom: 20px;

@mixin fontStyle($bottom, $weight, $size) {
  padding-bottom: $bottom;
  font-weight: $weight;
  font-size: $size;
}

.option_btn_box {
  margin-left: 110px;
  margin-bottom: 50px;
  border: 1px solid $gray-color;
  border-radius: 5px;
}

.optionBtn {
  @include fontStyle(8px, lighter, $medium-font-size);
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 15px 15px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;

  :first-child {
    padding-top: 10px;
  }

  :last-child {
    padding-left: 60px;
    font-size: $large-font-size;
    font-weight: 100;
  }
}

.option_btn_box ul {
  @include fontStyle(8px, 400, $medium-font-size);
  padding: 20px;
  border-top: 1px solid lightgray;
  background-color: white;
  cursor: pointer;

  :first-child {
    padding-bottom: 10px;
    font-size: 16px;
  }
}
