@mixin container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.headerWrapper {
  @include container();
}

.headerList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 20px 0;
}

.headerMenu {
  padding: 0 10px 0 10px;
  font-weight: 300;
  color: #222222;
  border-right: 1px solid #222222;
}

.pointColor {
  font-weight: 500;
  color: #46cfa7;
}

.headerMenuBold {
  padding: 0 10px 0 10px;
  color: #222222;
  font-weight: 400;
}

.mainLogo {
  padding-top: 20px;
}

.navSticky {
  padding: 0 140px;
  position: sticky;
  top: 0;
  border-bottom: #222222;
  background-color: white;
  z-index: 99;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 0 0;
}

.navList {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.navMenu {
  height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #222222;

  &:hover {
    bottom: -14px;
    border-bottom: 5px solid #ffcd32;
  }
}

.iconBlank {
  margin-left: 20px;
}
