.headerWrapper {
  padding: 0 140px;
}

$paddingValue: 0 10px 0 10px;
$darkColor: #222222;
$yellowColor: #ffcd32;

@mixin container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.headerWrapper {
  @include container();

  .headerList {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    list-style: none;

    .headerMenu {
      padding: $paddingValue;
      color: $darkColor;
      border-right: 1px solid $darkColor;
      font-weight: 300;

      .pointColor {
        color: #46cfa7;
        font-weight: 500;
      }
    }
    .headerMenuBold {
      padding: $paddingValue;
      color: $darkColor;
      font-weight: 400;
    }
  }
}

.navSticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;

  .navWrapper {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mainLogo {
      padding-top: 20px;
    }
    .navList {
      display: flex;
      justify-content: space-around;
      gap: 60px;

      .navMenu {
        height: 30px;
        color: $darkColor;
        font-size: 18px;
        font-weight: 400;

        &:hover {
          bottom: -14px;
          border-bottom: 5px solid $yellowColor;
        }
      }
    }
  }
}

.iconBlank {
  position: relative;
  margin-left: 20px;
}

.cartCounterCss {
  position: absolute;
  top: 20%;
  right: 9.4%;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: $yellowColor;
  font-size: 12px;
}
